Repository hmcts/sptribs-frontend, pull requests merged in 2024-05, with the labels that each got.

#643 DTSSTCI-758
  charts/sptribs-frontend/values.preview.template.yaml
  src/main/server.ts
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-frontend-pr-643

#646 Disable spot instances in values.yaml file
  charts/sptribs-frontend/Chart.yaml
  charts/sptribs-frontend/values.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-frontend-pr-646

#641 DTSSTCI-817
  src/main/resources/representation-qualified/translation.json
  src/main/resources/representation/translation.json
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-frontend-pr-641

#648 DTSSTCI-731
  src/main/steps/edge-case/upload-appeal-form/template.njk
  src/main/steps/edge-case/upload-other-information/template.njk
  src/main/steps/edge-case/upload-supporting-documents/template.njk
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-frontend-pr-648

#644 DTSSTCI-260 - DO NOT MERGE UNTIL RELEASE DAY 21/05
  charts/sptribs-frontend/Chart.yaml
  charts/sptribs-frontend/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  config/development.yaml
  src/main/routes/authless/controllers/updateLanding.ts
  src/main/routes/authless/path.ts
  src/main/routes/authless/routes.ts
Labels: ns:sptribs, prd:sptribs, rel:sptribs-frontend-pr-644
