Repository hmcts/sptribs-frontend, pull requests merged in 2024-02, with the labels that each got.

#566 DTSSTCI-36
  src/main/app/controller/PostController.ts
  src/main/app/form/Form.ts
  src/main/modules/nunjucks/index.ts
  src/main/resources/address-lookup/translation.json
  src/main/resources/application-submitted/translation.json
  src/main/resources/check-your-answers/translation.json
  src/main/resources/common/translation.json
  src/main/resources/contact-details/translation.json
  src/main/resources/contact-preferences/translation.json
  src/main/resources/date-of-birth/translation.json
  src/main/resources/full-name/translation.json
  src/main/resources/landing/translation.json
  src/main/resources/manual-address/translation.json
  src/main/resources/representation-qualified/translation.json
  src/main/resources/representation/translation.json
  src/main/resources/representative-details/translation.json
  src/main/resources/select-address/translation.json
  src/main/resources/statement-of-truth/translation.json
  src/main/resources/subject-contact-details/translation.json
  src/main/resources/subject-details/translation.json
  src/main/resources/upload-appeal-form/translation.json
  src/main/resources/upload-other-information/translation.json
  src/main/resources/upload-supporting-documents/translation.json
  src/main/resources/user-role/translation.json
  src/main/routes/authless/views/landing.njk
  src/main/steps/common/common.content.ts
  src/main/steps/common/components/address-lookup.test.ts
  src/main/steps/common/components/address-lookup.ts
  src/main/steps/common/components/address-manual.test.ts
  src/main/steps/common/components/address-manual.ts
  src/main/steps/common/components/address-select.test.ts
  src/main/steps/common/components/address-select.ts
  src/main/steps/common/form/fields/date.njk
  src/main/steps/common/page.njk
  src/main/steps/edge-case/address/lookup/content.test.ts
  src/main/steps/edge-case/application-submitted/content.test.ts
  src/main/steps/edge-case/application-submitted/content.ts
  src/main/steps/edge-case/application-submitted/template.njk
  src/main/steps/edge-case/check-your-answers/content.ts
  src/main/steps/edge-case/check-your-answers/utils.test.ts
  src/main/steps/edge-case/check-your-answers/utils.ts
  src/main/steps/edge-case/date-of-birth/content.test.ts
  src/main/steps/edge-case/date-of-birth/content.ts
  src/main/steps/edge-case/subject-details/content.test.ts
  src/main/steps/edge-case/subject-details/content.ts
  src/main/steps/edge-case/subject-details/template.njk
  src/main/steps/edge-case/upload-appeal-form/template.njk
  src/main/steps/edge-case/upload-other-information/template.njk
  src/main/steps/edge-case/upload-supporting-documents/template.njk
Labels: add-or-update, ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-frontend-pr-566

#592 DTSSTCI-386
  src/main/routes/authless/views/landing.njk
  src/main/steps/common/page.njk
  src/main/views/template.njk
Labels: add-or-update, ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-frontend-pr-592

#587 Dtsstci 87
  src/main/app/controller/UploadController.test.ts
  src/main/app/controller/UploadController.ts
  src/main/steps/edge-case/check-your-answers/checkYourAnswerPostController.ts
  src/main/steps/edge-case/upload-appeal-form/uploadDocPostController.test.ts
  src/main/steps/edge-case/upload-appeal-form/uploadDocPostController.ts
  src/main/steps/edge-case/upload-other-information/uploadDocPostController.test.ts
  src/main/steps/edge-case/upload-other-information/uploadDocPostController.ts
  src/main/steps/edge-case/upload-supporting-documents/uploadDocPostController.test.ts
  src/main/steps/edge-case/upload-supporting-documents/uploadDocPostController.ts
Labels: add-or-update, ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-frontend-pr-587

#596 DTSSTCI-474: Fix CVE issue of NPM IP package
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-frontend-pr-596
